@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
.appTableOverflow {
  overflow: hidden;
  tbody {
    max-height: 500px;
    overflow: auto;
    width: 100%;
    &.scroller {
      tr {
        margin-right: -16px;
      }
    }

  }

  thead,
  tfoot,
  tbody,
  td,
  th {
    display: block;
  }

  thead,
  tfoot{

    position: relative;
  }
  // thead,
  // tfoot{
  //   overflow: auto;
  //   -ms-overflow-style: none;
  //   overflow: -moz-scrollbars-none;
  //   &::-webkit-scrollbar { width: 0 !important }
  // }

  tr {
    display: flex;
  }

  tbody td,
  tbody th,
  tfoot > tr > th,
  thead > tr > th {
    float: left;
    position: relative;
  }

  tbody td::after,
  tbody th::after,
  tfoot > tr > th::after,
  thead > tr > th::after {
    content: "";
    clear: both;
    display: block;
  }
}
.appTableOverflow tbody td::after,
.appTableOverflow tbody th::after,
.appTableOverflow tfoot > tr > th::after,
.appTableOverflow thead > tr > th::after {
  content: "";
  clear: both;
  display: block;
}

.table {
  $border : 1px solid red ;
  &.bordered{
    border: $border;
    thead {
      tr{
        td , th {
          border-bottom:$border;
          border-right: $border;
        }
      }
    }
      tbody {
        tr{
          td , th {
            border-top:$border;
            border-right: $border;
          }
        }
      }

  }
}
