<div class="row">
  <div class="col-xs-12">
    <form class="form">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"> Name </label>
          <input type="text" class="form-control" id="name" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"> amount </label>
          <input type="number" class="form-control" id="amount" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <button type="button" class="btn btn-success" (click)="AddItem()"> Add </button> &nbsp;
          <button type="button" class="btn btn-danger"> Delete </button> &nbsp;
          <button type="reset" class="btn btn-primary"> Clear </button>
        </div>
      </div>
    </form>
  </div>
</div>
